<div class="col-xs-12">
  <h1>Posts</h1>
  <ul class="list-group">
    <app-post-list *ngFor="let post of posts; let index = index;"
                   [index]="index"
                   [loveIts]="post.loveIts"
                   [postName]="post.name"
                   [postContent]="post.content"
                   [id] = "post.id"
    ></app-post-list>

  </ul>
</div>
