<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background: grey;">
    <a class="navbar-brand" routerLink="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" routerLink="posts">Posts</a>
            <a class="nav-item nav-link" routerLink="new">New Posts</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
