<li [ngClass]="{'list-group-item': true,
'list-group-item-success': loveIts > 0,
'list-group-item-danger': loveIts < 0}">
<h2>{{ postName }}</h2>
<p>{{ postContent }}</p>
<p>{{ lastUpdate | async | date: 'short' }}</p>
<button class="btn btn-success" (click)="onLove()">{{ btnlove }}</button>
<button class="btn btn-danger" (click)="onDont()">{{ btndont }}</button>
<button class="btn btn-warning" (click)="onDelete(id)">{{ btndelete }}</button>
</li>
